### short name used for OAuth and other authentication
CAT_NAME=CoolCat

### fully-qualified URL to this CAT
CAT_URL=http://127.0.0.1:3000

### URL to PostgreSQL database
CAT_DATABASE_URL=postgres://postgres@localhost:5432/cat

### URL to Redis database
CAT_REDIS_URL=redis://127.0.0.1:6379

### where JWKs are stored
CAT_JWK_PATH=./keys

### path to OAuth callback endpoint.
AT_OAUTH_CALLBACK=/xrpc/at.ducs.oauth.callback

### api to use for AT protocol DID resolution
AT_RESOLVER_URL=https://public.api.bsky.app